{% extends 'base.html' %}
{% block content %}
    <h1>Немного обо мне</h1>
    <p>Меня зовут Костя, мне 28 лет и я решил координально изменить свою сферу деятельности. Уже больше года я изучаю программирование и преподаю его основы детям в частной школе, как педагог дополнительного образования. 

        Я сменил много разных работ в совершенно разных сферах:
        1. Продажа розничных товаров, справочно правовых систем,  работа b2b (6 лет)
        2. Оператор по контролю товара на складе (1 год)
        3. Дорожный мастер (1 год)
        4. Журналист (4 года), диктор и редактор программы новостей на радио (5 лет).
        5. Программист (1 год)
        
        Сейчас мои первостипенные задачи в жизни: 
        1. Получить новую профессию;
        2. Изучит английский язык;
        3. Доделать ремонт в новой квартире;
        4. Путешествовать по странам, чтобы поближе познакомиться с другими культурами;
        5. Закрыть ипотеку.
        
        Если есть желание, пишите в комментариях, чем вы сейчас занимаетесь и какие у вас планы на ближайшие годы. Интересно будет почитать, с кем я общаюсь :)
        </p>
{% endblock %}