{% extends 'base.html' %}
{% block content %}
  Это главная страница проекта PyLife. Здравствуйте 
  {% if request.user.is_authenticated %}
    {{  user  }}. 
    <br><a href="auth/logout">Выйти </a>
  {% else %}
    GUEST. 
    <br><a href="auth/login">Войти </a>
    <br><a href="auth/signup">Зарегистрироваться </a>
    <br>
  {% endif %}

  {% for post in posts %}
  <ul>
    <li>
      Автор: {{ post.author }}
    </li>
    <li>
      Дата публикации: {{ post.created|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.body }}</p>
  <a href="posts/{{ post.slug }}">Читать пост</a><br>
  <a href="">все записи группы</a>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}

{% endblock %} 