{% extends 'base.html' %}
{% block content %}
<h1> {{  post.title }} </h1>
<p>{{ post.body }}</p>
<p>Автор: {{ post.author }}</p>
<p>Дата публикации: {{ post.created|date:"d E Y" }}</p>
<p>Комментарии: {{ comment }}</p>
{% for comment in comments %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ comment.author }}</h5>
      <p class="card-text">{{ comment.body }}</p>
    </div>
  </div>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}

{% endblock %} 