{% extends 'base.html' %}
{% load user_filters %}
{% block content %}
<h1> {{  post.title }} </h1>
<p>{{ post.body }}</p>
<p>Автор:<b> {{ post.author }} </b></p>
<p>Дата публикации: {{ post.created|date:"d E Y" }}</p>
<br>
<p><b>Комментарии могут оставлять только зарегистрированные пользователи</b></p>
{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'blog:add_comment' post.slug %}">
        {% csrf_token %}      
        <div class="form-group mb-2">
          {{ form.body|addclass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}
{% for comment in comments %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ comment.author }}</h5>
      <p class="card-text">{{ comment.body }}</p>
    </div>
  </div>
  {% if not forloop.last %}<br>{% endif %}
  {% endfor %}
  </div>
{% endblock %} 